@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #69f77c;
    --branco: #FFFFFF;
    --laranja: #eb1000;
    --azul-degrade: linear-gradient(97.54deg, #01182a 35.49%, #bdd5e6 165.37%);
    --fonte-principal: "Poppins";
    --azul: #45dced;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 500;
}